# Dependencies
node_modules
.pnpm-debug.log*

# Production
dist
.cache
cache
.temp
temp

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VitePress
.vitepress/dist
.vitepress/cache

# System
.DS_Store